/*
@FILE
sidebar.css

@DESCRIPTION
Contains the sidebar styles.

@COPYRIGHT
MIT

@NickelAnge.Studio
2023-05-13

@REF
https://www.w3schools.com/
*/


/* Sidebar when screen is large enough */
 .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: block;
}

.sidebar img.uiml_logo {
  float: left;
  width: 3.2em;
  height: 3.2em;
  margin-right: 0.5em;
}

.sidebar div.logo_name {
  font-size: smaller;
}

.sidebar div.header {
    display: inline;
    position: relative;
}

.sidebar div.languages {
  display:flex;
  font-size: smaller;
  padding-left: 16px;  
  padding-bottom: 6px;
  width: 100%;
}

.sidebar a.lng {
  padding-right: 1em;
  color: #e65c00;
  padding: 0px;
  margin-right: 1em;
  text-decoration: underline;
}

.sidebar a.lng.active {
  color: #000000;
  font-weight: bolder;
  text-decoration: none;
}

.sidebar img.nas_logo {
  float: left;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.sidebar a.print_link {
  position: fixed;
  left: calc(200px - 1.5em);
}

.sidebar img.print_icon {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: -3px;
}

.sidebar a.nas {
  text-align: left;
  text-decoration: none;
  display: flex;
  padding: 16px;
  color: #000000;
}

.sidebar a.sidelink {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  background-color: #f1f1f1;
  
}

.sidebar a.sidelink.active {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.sidebar a.sidelink.active.collapse {
  padding-bottom: 16px;
}

.sidebar a.sidelink:hover:not(.active) {
  background-color: #e65c00;
  color: white;
}

